@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mukta&display=swap');

html,body{
    height: 100%;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16pt;
}

@media screen and (max-width:573px){
    :root{
        font-size: 12pt;
    }
}

@media screen and (max-width:400px){
    :root{
        font-size: 10pt;
    }
}


#eu{
    width: 200px;
    border: 8px solid white;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid rgb(101, 228, 245);
}

.contatos{
   display: inline-block;
   max-width: 64px;
}

#meu-nome{
    margin: auto;
    margin-top: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Anton', sans-serif, arial;
    letter-spacing: 2px;
    font-weight: lighter;
}

#contato-main{
    padding: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 130px;
    border: 3px solid rgb(101, 228, 245);
    border-radius: 20px;
}



/* Cabeçalho do meu site*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(236, 235, 235);
    border-bottom: 3px solid rgb(101, 228, 245);
    width: 100%;
    position: fixed;
    top: 0;
    height: 150px;
    z-index: 1; /* Z-INDEX SERVE PARA MUDAR A ORDEM DE PRIORIDADE DE QUE CADA ELEMENTO VAI APARECER(CAMADAS) */
}

.parte-esquerda{
    display: flex;
    align-items: center;
}

.links{
    transition: all 0.3s;
    text-decoration:none;
    color: black;
    font-size: 1rem;
    padding: 15px;
    text-shadow: 1px 3px 9px rgba(150, 150, 150, 1);
}

.links:hover{
    transition: all 0.3s;
    color: rgb(86, 193, 207);
    text-shadow: none;
}

#logo{
    width:200px;
    margin-right: 200px;
    margin-right: 0;
}

.parte-direita{
    display: flex;
    align-items: center;
    margin-right: 100px;
    cursor: pointer;
}

#pesquisa{
    width: 250px;
    height: 50px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
}


#usuario{
   height: 50px;
   margin-left: 20px;
   cursor: pointer;
}


.links{
    padding: 5px;
    font-family: 'Anton', sans-serif;
    word-spacing: 10px;
}

/* Primeira seção de filmes */

.container-1{   
    margin-top: 5px;
    border-bottom: 3px solid rgb(101, 228, 245);  
    height: 450px;  
    display: flex;
    justify-content: space-around;
    border-top: 3px solid rgb(101, 228, 245);
    background-color: rgb(236, 235, 235);
    flex-wrap: wrap;
}

.item1{
    cursor: pointer;
    margin-top: 20px;
}

#novidades{
    margin-top: 230px;
    margin-left: 20px;
    cursor: pointer;
    max-width: 110px;
    color: white;
    font-family: 'Anton', sans-serif, arial;
    letter-spacing: 2px;
    font-weight: lighter;
}


/* Posters em Geral*/
.posters{
    width: 279px;
    height: 403px;
    transition: all 0.86s;
}

.item1:hover .conteudo-hover{
    transition: all 0.86s;
    opacity: 100%;   
    background-color: rgb(0, 0, 0);
}

.item1:hover{
    transition: all 0.86s;
    transform: scale(1.02);
    opacity: 100%;   
}

.item1{
    transition: all 0.86s;
}

.conteudo-hover{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    background-color: transparent;  
    opacity: 0;
    font-size: 0.7rem;
}

/* Segunda seção de filmes */

.container-2{
    margin-top: 5px;
    border-bottom: 3px solid rgb(101, 228, 245);
    height: 450px; 
    display: flex;
    justify-content: space-around;
    border-top: 3px solid rgb(101, 228, 245);
    background-color: rgb(236, 235, 235);
    flex-wrap: wrap;
}


.item2{
    cursor: pointer;
    margin-top: 20px;
}

#terror{
    margin-left: 20px;
    margin-top: 70px;
    max-width: 78px;
    cursor: pointer;
    color: white;
    font-family: 'Anton', sans-serif, arial;
    letter-spacing: 2px;
    font-weight: lighter;
}

.item2:hover .conteudo-hover{
    transition: all 0.86s;
    opacity: 100%;   
    background-color: rgb(0, 0, 0);
}

.item2:hover{
    transition: all 0.86s;
    transform: scale(1.02);
    opacity: 100%;   
}

.item2{
    transition: all 0.86s;
}

/* Terceira seção de filmes */

.container-3{
    margin-top: 5px;
    margin-bottom: 200px;
    border-bottom: 3px solid rgb(101, 228, 245);
    height: 450px; 
    display: flex;
    justify-content: space-around;   
    border-top: 3px solid rgb(101, 228, 245);
    background-color: rgb(236, 235, 235);
    flex-wrap: wrap;
}

.acao-filmes{
    display: flex;
    justify-content: center;
    border-top: 3px solid rgb(101, 228, 245);
    background-color: rgb(236, 235, 235);
}

.item3{
    cursor: pointer;
    margin-top: 20px;
}

#acao{
    margin-left: 20px;
    margin-top: 70px;
    white-space: nowrap;
    max-width: 60px;
    cursor: pointer;
    color: white    ;
    font-family: 'Anton', sans-serif, arial;
    letter-spacing: 2px;
    font-weight: lighter;
}

.item3:hover .conteudo-hover{
    transition: all 0.86s;
    opacity: 100%;   
    background-color: rgb(0, 0, 0);
}

.item3:hover{
    transition: all 0.86s;
    transform: scale(1.02);
    opacity: 100%;   
}

.item3{
    transition: all 0.86s;
}

/* Rodapé */

footer{
    width: 100%;
    border-top: 3px solid solid rgb(101, 228, 245);
    background-color: rgb(236, 235, 235);
    border-top: 3px solid rgb(101, 228, 245);
}

#titulo-footer{
    color: rgb(69, 175, 189);
    font-size: 1rem;
    font-family: 'Anton', sans-serif, arial;
    letter-spacing: 2px;
    font-weight: lighter;
}

#texto-footer{
    text-align: justify;
    font-size: 0.8rem;
    max-width: 400px;
    font-family: Arial, Helvetica, sans-serif;
}

.conteudo-footer{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}

@media screen and (max-width:650px){

    /* Cabeçalho */

    header{
        height: 100px;
    }

    #logo{
        width: 30%;
    }


    #pesquisa{
        max-width: 100px;
        max-height: 20px;
    }

    #lupa, #usuario{
        width: 35px;
        height: 35px;
    }

    .parte-direita{
        margin-right: 0;
    }
    

}       

@media screen and (max-width:1200px){
    .container-1{
        height: 900px;
    }

    .container-2{
        height: 900px;
    }

    .container-3{
        height: 900px;
    }


}

  /* celular */

@media screen and (max-width:400px){
    
    .container-1{
        height: 1800px;
    }

    .container-2{
        height: 1800px;
    }

    .container-3{
        height: 1800px;
    }

    #lupa, #usuario{
        width: 15px;
        height: 15px;
    }

    #contato-main{
        max-width: 20%;
        padding: 5%;
    }

 
  
}

@media screen and (max-width:573px){
    .container-1{
        height: 1800px;
    }

    .container-2{
        height: 1800px;
    }

    .container-3{
        height: 1800px;
    }

    #contato-main{
        max-width: 75%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 14%;
    }
    
    .contatos{
        display: flex;
    }
}